body{
    text-align: center;
}
.image{
    width: 175px;
    margin-bottom: 50px;
}
#harry{
    width: 175px;
    margin-bottom: 50px;
}
#FB{
    width: 175px;
    margin-bottom: 50px;
}